{% extends "base.html" %}

{% block content %}

    <div class="jumbotron">
        <h1> <strong> RC-Matchmaker </strong> </h1>
        <p> Helping you meet and get to know the beautiful people at the Recurse Center </p>
        <p> Let our patented alorithm™ match you for coffee, pairing, buddies, and more! </p>
        <p> <a class="pull-right btn-primary btn-lg btn-success" href="{{ url_for('show_profile') }}" role="button" > Sign Up! </a> </p>
        <p> `                       </p>
        <p>                             </p>
    </div>

{% endblock %}