
body {
    background-color: black;
    color: #4B7507;
    font-family: "Courier New";

}




.form-size {

    max-width: 640px;

    /* 0 means no margin on top and bottom*/
    /* auto means make left and right equal */
    margin: 0 auto;

    background-color: #E9E9E9;

    padding: 20px;

    border: 1px solid #D5D5D5;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}